.game-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-rank {
    position: fixed;
    z-index: 1;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color: var(--level-2);
    border-radius: 1rem;
}

.oauth-bsm {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: .5rem 1rem;
    color: rgb(96, 96, 96);
    background-color: white;
    border-radius: 1rem;
}

.oauth-bsm img {
    height: 30px;
    padding: .5rem 0;
}

.oauth-bsm span {
    font-size: 1.3rem;
    font-weight: bold;
}