.game-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-help-box {
    position: fixed;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--level-2);
    font-size: 1.4rem;
}